.content-height {
    height: calc(100vh - 190px);
}

.scrollable {
    overflow-x: auto;
}

.highlighted {
    position: relative;

    &:hover {
        cursor: pointer;
        background-color: rgb(159, 0, 234) !important
    }
}
.w-100 {
    width: 100%;
}
.add-note {
    margin-top: 10px;
    margin-bottom: 10px;

    &:after {
        content: "Add a note";
        position: absolute;
    }
}

.card-radio {
    position: absolute;
    right: 1px;
    bottom: -2px;

    i {
        &:hover {
            color: red;
        }
    }
}

.unstyling-button {
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0 !important;
    background: none;

    &:focus {
        background-color: rgba(255, 255, 255, 0)
    }
}
